body {
    background-color: #efeee7;
    font-style: Georgia,"Times New Roman",Times,serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
}

h1 {
    color: #eee;
    size: 28px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    padding: 20px 0;
}

h2 {
    size: 24px;
}

.container {
    size: 1024px;
    margin: 0 auto;
}

#main-bio {
    float: left;
    width: 70%;
    margin: 20px;
}

#contact-info {
    float:left;
    width: 30%;
}

#bio-image {
    float:left;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

a {
    color: #d21034;
}